Client/Connected Services/ServiceAlarm/AlarmService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlarmService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54020/AlarmService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54020/AlarmService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54020/AlarmService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlarmService_UserExistsInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:UserExistsInDB" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_UserExistsInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserExistsInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_AddAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_AddAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_DeleteAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_DeleteAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_GetAlarms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarms" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_GetAlarms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlarmService">
    <wsdl:operation name="UserExistsInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/UserExistsInDB" message="tns:IAlarmService_UserExistsInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/UserExistsInDBResponse" message="tns:IAlarmService_UserExistsInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/AddUser" message="tns:IAlarmService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/AddUserResponse" message="tns:IAlarmService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/AddAlarm" message="tns:IAlarmService_AddAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/AddAlarmResponse" message="tns:IAlarmService_AddAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/DeleteAlarm" message="tns:IAlarmService_DeleteAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/DeleteAlarmResponse" message="tns:IAlarmService_DeleteAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/GetUser" message="tns:IAlarmService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/GetUserResponse" message="tns:IAlarmService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarms">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/GetAlarms" message="tns:IAlarmService_GetAlarms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/GetAlarmsResponse" message="tns:IAlarmService_GetAlarms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlarmService" type="tns:IAlarmService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserExistsInDB">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/UserExistsInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/AddAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/DeleteAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarms">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/GetAlarms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlarmService">
    <wsdl:port name="BasicHttpBinding_IAlarmService" binding="tns:BasicHttpBinding_IAlarmService">
      <soap:address location="http://localhost:54020/AlarmService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>